body{
  background-color: rgb(18, 46, 73);
}

.App {
  text-align: center;
  color: rgb(189, 192, 194);
}

#head-image{
  border: solid black 5px;
  padding: 20px;
}

.main-text{
  padding-left: 3.5em;
  padding-right: 3.5em;
}


#about-title{
  text-align: left;
}
