/* Key */
:root{
  --primary: rgb(18, 46, 73);
  --text: rgb(189, 192, 194);
}

/* General */
*{
  margin: 0;
  padding: 0;
}


body{
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

.title{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

p{
  width: 75%;
  margin: auto;
  text-align: justify;
}

/* .Quote-Container{ 
  
} */

.Bible-Quote{
  text-align: center;
  padding-bottom: 1rem;
}

.Quote-Name{
  text-align: right;
  margin-left: 10%;
  margin-right: 15%;
}

/* navbar */

.navbar{
  width: 100%;
}

.navbar ul{
  list-style-type: none;
  color: aliceblue;
  display: flex;
  justify-content: center; 
  padding-top: 2%;
  padding-bottom: 2%;

}

a:Link{
  padding: 25px;
  border-right: silver 3px solid;
  border-left: black 3px solid;
  background-color: white;
  border-color: silver;
  text-decoration: none;
}

/* Map page */
#basicMap{
  background-color: black;
}




/* Footer */
footer{
  background-color: gray;
  height: 20vh;
  width: 100vw;
  margin-top: 10vh;
  
  
  
}



/* Home Page */
#title{
  font-size: 3rem;
  padding-bottom: 15px;
}

#subtitle{
  transform: translate(0px, -25px);
  font-size: 1rem;
  line-height: 4;
}

#image-container{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 2%; 
  gap: 10%;
}

#soup-image{
  margin: 15% 0;
  transform: scale(1.5);
}
#head-image{
  margin: 5% 0;
}

.container{
  border: solid black 5px;
  padding: 20px;
  width: 350px;
  height: 400px;
  
}

#globe{
  padding: 2rem 0;
  width: 100%;
}




#aboutUs-title{
  text-align: left;
}

/* Statement of Faith Page */
.faith{
  line-height: 2;
  text-align: left;
}

#statementOfFaith-rules{
  margin-left: 15%;
  margin-right: 10%;
}

.statement-text{
  display: flex;
  padding-bottom: 50px;
}