/* Key */
:root{
  --primary: rgb(18, 46, 73);
  --text: rgb(189, 192, 194);
}

/* General */
body{
  background-color: var(--primary);
  text-align: center;
  color: var(--text);
  padding-left: 10%;
  padding-right: 10%;
}

p{
  padding-left: 4em;
  padding-right: 4em;
  text-align: left;
}

/* navbar */
.navbar ul{
  list-style-type: none;
  color: aliceblue;
  display: flex;
  padding-left: 200px;
}

a:link{
  padding: 25px;
  border-right: silver 3px solid;
  border-left: black 3px solid;
  background-color: white;
  border-color: silver;
  
}

/* Home Page */
#subtitle{
  transform: translate(0px, -25px);
  font-size: 18px;
}

#image-container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "area1" "area2";
  grid-gap: 5px;
  
}

.container{
  border: solid black 5px;
  padding: 20px;
  width: 350px;
  height: 400px;
  
}






#aboutUs-title{
  text-align: left;
}

/* Statement of Faith Page */
.faith{
  line-height: 2;
  text-align: left;
}